



* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Poppins', sans-serif;
  }


.navbar{
    background-color: purple;
}



#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#A020F0), url(img/images.jpeg);
    background-size: cover ;
    background-position: center;
    height: 100vh;
  }
  .banner-text{
    padding-top: 180px;
    text-align: center;
    color: #fff
  }
  .banner-text h1{
    font-size: 130px;
    font-family: 'Montserrat', sans-serif; ;
    color: white;
  }
  .banner-text h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; ;
    color: white;
  }


.title-text{
  text-align: center;
  padding-bottom: 70px;

}

.title-text p{
  margin: auto;
  font-size: 20px;
  color:#c468ee ;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}


#Content{

  #Description-Gambling{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
  }

  .title-text{
    text-align: center;
    padding-bottom: 70px;
  }

  .Description{
    text-align: center;
  }


  /*--Description-of-the-dlc--*/

  #Description-of-the-dlc{
    width: 100%;
    padding: 70px 0;
  }

  .title-text{
    text-align: center;
    padding-bottom: 70px;
  }

  .Description-Gambling{
    text-align: center;
  }
